<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.cart.CartDao">
	<!-- 회원 아이디로 장바구니 조회 -->
	<!-- winter_shop 을 username으로 변경하기 -->
	<select id="findByUsername"
		resultType="com.example.demo.cart.CartDto$Read" parameterType="map">
		SELECT
		c.item_no,
		c.username,
		i.item_irum,
		i.item_price,
		COALESCE(ii.image_name,
		#{imageUrl}) AS item_image,
		c.cart_ea,
		c.cart_totalprice,
		c.item_size
		FROM cart c
		JOIN
		item i ON c.item_no = i.item_no
		LEFT JOIN (
		SELECT
		item_no,
		image_name,
		ROW_NUMBER() OVER (PARTITION BY item_no ORDER BY
		image_no ASC) AS
		row_num
		FROM item_image
		) ii ON c.item_no = ii.item_no
		AND ii.row_num =
		1
		WHERE c.username = #{username}
	</select>

	<update id="increase" parameterType="map">
		UPDATE cart
		SET cart_ea =
		COALESCE(cart_ea, 0) + 1,
		cart_totalprice = cart_price *
		(COALESCE(cart_ea, 0) + 1)
		WHERE username = #{username}
		AND item_no =
		#{itemNo}
		AND item_size = #{itemSize}
	</update>

	<update id="updateCartEa" parameterType="map">
		UPDATE cart
		SET
		cart_ea = #{cartEa},
		cart_totalprice = #{cartEa} *
		(SELECT item_price FROM item WHERE item_no = #{itemNo})
		WHERE username
		= #{username}
		AND item_no = #{itemNo}
		AND item_size =
		#{itemSize} <!-- itemSize 
			조건 추가 -->
		AND EXISTS (SELECT 1 FROM item WHERE item_no = #{itemNo})  <!-- 상품 존재 확인 -->
	</update>

	<update id="updateCartTotalPrice" parameterType="map">
		UPDATE cart
		SET
		cart_totalprice = cart_ea * (SELECT item_price FROM item WHERE
		item_no
		= #{itemNo})
		WHERE username = #{username}
		AND item_no = #{itemNo}
		AND
		EXISTS (SELECT 1 FROM item WHERE item_no = #{itemNo})
	</update>

	<!-- 상품 선택 삭제 -->
	<delete id="deleteCartItems" parameterType="map">
		delete from cart
		where username = #{username}
		<foreach collection="items" item="item" open="and (" separator=") or (" close=")">
			item_no = #{item.itemNo} and item_size = #{item.itemSize}
		</foreach>
	</delete>


	<!-- 상품 주문 페이지에서 상품 정보 표시 -->
	<!-- winter_shop 을 username으로 변경하기 -->
	<select id="findByUsernameAndInos"
		resultType="com.example.demo.cart.CartDto$Read">
		select c.item_no,
		i.item_irum,
		i.item_price,
		COALESCE(#{imageUrl},
		'/default/images/') || ii.image_name AS item_image,
		c.cart_ea,
		c.cart_totalprice
		from cart c
		join item i on c.item_no = i.item_no
		join
		item_image ii on c.item_no = ii.item_no
		where c.username = #{username}
		and ii.image_no in
		<foreach collection="inos" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
		and ii.image_no = 0
	</select>
</mapper>
