<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.item.ItemDao">

<insert id="save" useGeneratedKeys="true">
    <selectKey keyProperty="itemNo" order="BEFORE" resultType="long">
        select ITEM_SEQ.nextval from dual
    </selectKey>
    insert into item(item_no, item_irum, item_info, item_price, item_jango, item_sell_qty, add_good_cnt, review_ea, cno)
    values(#{itemNo}, #{itemIrum}, #{itemInfo}, #{itemPrice}, #{itemJango}, #{itemSellQty}, #{addGoodCnt}, #{reviewEa}, #{cno})
</insert>
	
	<resultMap id="joinMap" type="com.example.demo.item.ItemDto$Read">
		<id property="item_no" column="itemNo" />
		<result property="item_irum" column="itemIrum" />
		<result property="item_info" column="itemInfo" />
		<result property="item_price" column="itemPrice" />
		<result property="item_jango" column="itemJango" />
		<result property="item_sell_qty" column="itemSellQty" />
		<result property="add_good_cnt" column="addGoodCnt" />
		<result property="review_ea" column="reviewEa" />
		<result property="cno" column="cno" />
		
		<collection property="image" javaType="java.util.List" ofType="string">
			<result column="image" />
		</collection>
	</resultMap>
	
	<select id="findById" resultMap="joinMap">
		select i.*, #{imageUrl} || it.item_irum as image from item it join image im on it.item_no=im.item_no where it.item_no=#{item_no}
	</select>

</mapper>