<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.order.OrderDao">

    <!-- 주문 저장 -->
    <insert id="save" parameterType="com.example.demo.order.Order">
        INSERT INTO orders (order_no, order_date, total_price, order_status, used_point, act_payment, member_username, post_no)
        VALUES (#{orderNo}, #{orderDate}, #{totalPrice}, #{orderStatus}, #{usedPoint}, #{actPayment}, #{memberUsername}, #{postNo})
    </insert>

    <!-- 주문 번호로 주문 조회 -->
    <select id="findById" parameterType="long" resultMap="OrderReadResultMap">
        SELECT * FROM orders WHERE order_no = #{orderNo}
    </select>

    <!-- 모든 주문 조회 -->
    <select id="findAll" resultMap="OrderListResultMap">
        SELECT * FROM orders
    </select>

    <!-- 주문 정보 업데이트 -->
    <update id="update" parameterType="com.example.demo.order.Order">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_no = #{orderNo}
    </update>

    <!-- 주문 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM orders WHERE order_no = #{orderNo}
    </delete>

    <!-- 주문 조회를 위한 OrderReadResultMap -->
    <resultMap id="OrderReadResultMap" type="com.example.demo.order.OrderDto.Read">
        <id property="orderNo" column="order_no" />
        <result property="orderDate" column="order_date" />
        <result property="totalPrice" column="total_price" />
        <result property="orderStatus" column="order_status" />
        <result property="usedPoint" column="used_point" />
        <result property="actPayment" column="act_payment" />
        <result property="memberUsername" column="member_username" />
        <result property="postNo" column="post_no" />
    </resultMap>

    <!-- 주문 목록 조회를 위한 OrderListResultMap -->
    <resultMap id="OrderListResultMap" type="com.example.demo.order.OrderDto.OrderList">
        <id property="orderNo" column="order_no" />
        <result property="orderDate" column="order_date" />
        <result property="orderStatus" column="order_status" />
        <result property="totalPrice" column="total_price" />
    </resultMap>

</mapper>
