<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header with Fixed Background Image</title>
</head>
<body>
    <!-- 상단 네비게이션 바 -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
            <ul class="navbar-nav" sec:authorize="isAnonymous()">
                <li class="nav-item"><a class="nav-link" href="/member/login">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="/member/join">회원가입</a></li>
                <li class="nav-item"><a class="nav-link" href="/board/list">고객센터</a></li>
            </ul>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item"><a class="nav-link" href="#" id="logout">로그아웃</a></li>
                <li class="nav-item"><a class="nav-link" href="/member/readme">내정보</a></li>
                <li class="nav-item"><a class="nav-link" href="/board/list">고객센터</a></li>
                <li sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_SOCIAL')" class="nav-item">
                    <a class="nav-link" href="/cart/cart-view">장바구니</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_SOCIAL')" class="nav-item">
                    <a class="nav-link" href="/order/list">주문목록</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
               		<a class="nav-link" href="/board/write">글쓰기</a>
                    <a class="nav-link" href="/product/add">상품추가</a>
                </li>
            </ul>
        </div>
    </nav>
<script>
			// 로그아웃 처리
			$('#logout').click(function() {
				const token = '[[${_csrf.token}]]';
				const html = `
					<form action="/member/logout" method="post">
						<input type='hidden' name='_csrf' value='${token}'>
					</form>
				`;
				$(html).appendTo($('body')).submit();
			});
		</script>
    <!-- 네비게이션 바와 간격을 둔 이미지 -->
    <div class="fixed-image"></div>
    

</body>
</html>
