<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Navigator</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#flip").click(function() {
            $("#panel").slideDown("slow");
        });
    });
</script>
</head>
<body>
    <!-- 스크롤 시 고정되는 메뉴 -->
    <div class="fixed-menu">
        <div class="dropdown">
            <span>스키</span>
            <div class="dropdown-content">
                <p>
                    <button onclick="window.location.href='/item/ski/list';" class="custom-button">폴</button>
                </p>
                <p>
                    <button onclick="window.location.href='/item/ski/list';" class="custom-button">플레이트</button>
                </p>
            </div>
        </div>

        <div class="dropdown">
            <span>스키용품</span>
            <div class="dropdown-content">
                <p>
                    <button onclick="window.location.href='/item/ski/other';" class="custom-button">고글</button>
                </p>
                <p>
                    <button onclick="window.location.href='/item/ski/other';" class="custom-button">부츠</button>
                </p>
            </div>
        </div>

        <div class="dropdown">
            <span>스노우보드</span>
            <div class="dropdown-content">
                <p>
                    <button onclick="window.location.href='/item/snowboard/list';" class="custom-button">데크</button>
                </p>
                <p>
                    <button onclick="window.location.href='/item/snowboard/list';" class="custom-button">바인딩</button>
                </p>
            </div>
        </div>

        <div class="dropdown">
            <span>스노우보드용품</span>
            <div class="dropdown-content">
                <p>
                    <button onclick="window.location.href='/item/snowboard/other';" class="custom-button">고글</button>
                </p>
                <p>
                    <button onclick="window.location.href='/item/snowboard/other';" class="custom-button">부츠</button>
                </p>
            </div>
        </div>
    </div>
</body>
</html>